/* Google font : quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* Targeting every element on the webpage */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}
/* Styling <Navbar />  */
.navbar {
  /* positioning */
  /* This is to to align items even if they are block elements */
  display: flex;
  /* adds internal gap between the border and the content */
  padding: 20px;
  /* Aligns the residing items inside the div to be horizontally center because the parent element is display:flex */
  /* By default they alignment start from right */
  align-items: center;
  /* sets maximum width of the div */
  max-width: 600px;
  /* adds 0 margin top-bottmm and auto adjust the div to be horizontally center to leave equal margin from left-right */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .navbar-links {
  /* This shoots the links to right because the parent div is set to display:flex */
  margin-left: auto;
}

/* Style the a tags which are inline blocks. */
.navbar a {
  /* shifts each anchor 16px to the right */
  margin-left: 16px;
  text-decoration: none;

  /* add padding to each link content */
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.main-content {
  /* set max width of the main content as same as navbar */
  max-width: 600px;
  /* this sets margin of the main-content div and  leave gap from top-bottom and restrict the main content inside the max-width  */
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  /* top push the content inside the surrounding border */
  padding: 10px 16px;
  /* Gap between each template */
  margin: 20px 0;
  /* Give a slight border at the bottom of each template */
  border-bottom: 1px solid #fafafa;
  
}

/* When mouseover, the template lifts up by leaving a shadow*/
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h3 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview button {
  padding: 8px;
  margin-top: 22px;
  color: #fff;
  background-color: #f45d8a;
  border: none;
  border-radius: "2px";
  font-size: 15px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-detail h1 {
  margin-bottom: 3px;
}

.blog-detail h6 {
  margin-bottom: 30px;
}

/* create new blog form */
.create {
  /* Giving max width lesser than the parent container size */
  max-width: 400px;
   /*To center the form on x axis  */
  margin: 0 auto;
  /* aligns text inside the div to be at center */
  text-align: center;
}
.create label {
  /* text inside should stick to left */
  text-align: left;
  /* changing display property so that the next element gets rendered in next line */
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  /* Sets width of input, textarea and select field to span 100% of the width of create */
  width: 100%;
  /* padding to push text inside */
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  padding: 8px;
  margin-top: 22px;
  color: #fff;
  background-color: #f45d8a;
  border: none;
  border-radius: "2px";
  font-size: 15px;
}

article button {
  padding: 8px;
  margin-top: 22px;
  color: #fff;
  background-color: #f45d8a;
  border: none;
  border-radius: "2px";
  font-size: 15px;
}